/bitrix
/upload
/images
/academy/information
/local/vendor
robots.txt
*.log
*.pdf
log.txt
sitemap*.xml
.DS_Store
.idea
.bash_history
.cache
.config
.local
*.tar.gz
/test-section/assets/images
/test-section/assets/img