.experts-list .field_image{ margin-bottom: 30px; }
.experts-list .field_image img{ border-radius: 50%; }
.experts-list .experts-items-person{ font-size: 14px; padding: 10px 10px; font-family: 'Montserrat-Bold', Arial, Tahoma, Sans-Serif; }
.experts-list .experts-items-person-position{ font-size: small; padding: 0px 10px; }