@charset "UTF-8";
body.timetable-page {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 1.2;
  color: #272727;
  font-weight: 400;
  /* Указываем box sizing */
  /* Убираем внутренние отступы */
  /* Убираем внешние отступы */
}
body.timetable-page *,
body.timetable-page *::before,
body.timetable-page *::after {
  box-sizing: border-box;
}
body.timetable-page ul[class],
body.timetable-page ol[class] {
  padding: 0;
}
body.timetable-page body,
body.timetable-page h1,
body.timetable-page h2,
body.timetable-page h3,
body.timetable-page h4,
body.timetable-page h5,
body.timetable-page h6,
body.timetable-page p,
body.timetable-page ul,
body.timetable-page ol[class],
body.timetable-page li,
body.timetable-page figure,
body.timetable-page figcaption,
body.timetable-page blockquote,
body.timetable-page dl,
body.timetable-page dd {
  margin: 0;
}
body.timetable-page ul[class],
body.timetable-page ol[class] {
  list-style: none;
}
body.timetable-page a {
  text-decoration: none;
  border: none;
  outline: none;
  color: #272727;
  cursor: pointer;
}
body.timetable-page a a:focus {
  text-decoration: none;
  border: none;
  outline: none;
}
body.timetable-page a:not([class]) {
  text-decoration-skip-ink: auto;
}
body.timetable-page input,
body.timetable-page button,
body.timetable-page textarea,
body.timetable-page select {
  font: inherit;
  -webkit-appearance: none;
}
body.timetable-page input[type=number]::-webkit-inner-spin-button,
body.timetable-page input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
body.timetable-page input[type=number] {
  -moz-appearance: textfield;
}
body.timetable-page input[type=number]:focus, body.timetable-page input[type=number]:active {
  border: none;
  outline: none;
}
body.timetable-page img {
  display: block;
  max-width: 100%;
}
body.timetable-page #wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body.timetable-page header {
  flex: 0 0 auto;
}
body.timetable-page main {
  flex: 1 0 auto;
}
body.timetable-page footer {
  flex: 0 0 auto;
}
body.timetable-page .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
body.timetable-page *:focus {
  outline: -webkit-focus-ring-color auto 0px;
  outline: 0 !important;
}
body.timetable-page input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
body.timetable-page input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
body.timetable-page input[type=search]::-webkit-search-decoration,
body.timetable-page input[type=search]::-webkit-search-cancel-button,
body.timetable-page input[type=search]::-webkit-search-results-button,
body.timetable-page input[type=search]::-webkit-search-results-decoration {
  display: none;
}
body.timetable-page .flex-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
body.timetable-page .txt-info {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
}
body.timetable-page .bold {
  font-weight: 700;
}
body.timetable-page .extra-bold {
  font-weight: 900;
}
body.timetable-page .grid-block {
  display: grid;
}
body.timetable-page .icon-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
body.timetable-page .icon-circle--green {
  background: #81c212;
}
body.timetable-page .icon-circle--blue {
  background: #1292c2;
}
body.timetable-page .icon-circle--red {
  background: #ef3535;
}
body.timetable-page .icon-circle--yellow {
  background: #efe33a;
}
body.timetable-page .default-link {
  text-decoration: underline;
  color: #81c212;
  transition: all 0.3s linear;
  cursor: pointer;
}
body.timetable-page .hover-link {
  cursor: pointer;
  transition: all 0.3s linear;
}
body.timetable-page .hover-link:hover {
  text-decoration: underline;
  color: #81c212;
}
body.timetable-page .ellipse-bg {
  width: 40px;
  height: 25px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: red;
  border-radius: 14px;
}
body.timetable-page .ellipse-bg--green {
  background-color: #d8f2ad;
}
body.timetable-page .ellipse-bg--red {
  background-color: #f2adad;
}

body.timetable-page h1,
body.timetable-page h2,
body.timetable-page h3,
body.timetable-page h4,
body.timetable-page h5,
body.timetable-page h6 {
  font-family: "Open Sans", sans-serif !important;
}
body.timetable-page .links {
  padding: 20px;
  flex-wrap: wrap;
}
body.timetable-page .links a {
  margin: 0 15px;
  text-transform: uppercase;
}
body.timetable-page .timetable {
  background: #e5e5e5;
  padding: 35px 0 40px;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
body.timetable-page .timetable__title-block {
  margin-bottom: 35px;
  justify-content: space-between;
}
body.timetable-page .timetable__title {
  font-size: 24px;
  font-weight: 900;
}
body.timetable-page .timetable__warn img {
  margin-right: 10px;
  max-width: 18px;
}
body.timetable-page .timetable__warn .txt-info {
  font-size: 12px;
  font-weight: 600;
}
body.timetable-page .selection__wrap {
  display: none;
  width: 100%;
}
@media only screen and (max-width: 992px) {
  body.timetable-page .selection__wrap {
    justify-content: center;
  }
}
@media only screen and (max-width: 360px) {
  body.timetable-page .selection__wrap {
    flex-wrap: wrap;
  }
}
body.timetable-page .selection__wrap.active {
  display: flex;
}
body.timetable-page .selection__arrow {
  cursor: pointer;
}
body.timetable-page .selection__arrow svg {
  width: 10px;
  height: 16px;
  fill: #272727;
}
body.timetable-page .selection__arrow.arrow-left svg {
  transform: rotate(180deg);
}
body.timetable-page .selection__text {
  padding: 0 20px;
  cursor: pointer;
  padding-bottom: 3px;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
}
body.timetable-page .selection__subtext {
  margin-left: auto;
  font-size: 14px;
  white-space: nowrap;
}
@media only screen and (max-width: 360px) {
  body.timetable-page .selection__subtext {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
  }
}
body.timetable-page .calendar-table {
  background: #fff;
  border-radius: 10px;
}
body.timetable-page .calendar-table__head {
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
}
@media only screen and (max-width: 992px) {
  body.timetable-page .calendar-table__head {
    flex-direction: column;
  }
}
body.timetable-page .calendar-table__links-box {
  max-width: 390px;
  width: 100%;
  justify-content: space-between;
  margin-right: 85px;
}
@media only screen and (max-width: 992px) {
  body.timetable-page .calendar-table__links-box {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
body.timetable-page .calendar-table__link {
  justify-content: center;
  padding: 5px;
  border-radius: 14px;
  max-width: 120px;
  width: 100%;
  border: 1px solid #e5e5e5;
  font-size: 14px;
}
body.timetable-page .calendar-table__link.active {
  background: #81c212;
  border-color: #81c212;
  color: #fff;
}
body.timetable-page .calendar-table__current {
  margin-right: auto;
}
body.timetable-page .calendar-table__current:nth-child(2) {
  width: 100%;
  margin-right: 0;
}
@media only screen and (max-width: 1170px) {
  body.timetable-page .calendar-table__current:nth-child(2) {
    max-width: calc(50% - 85px);
  }
}
@media only screen and (max-width: 992px) {
  body.timetable-page .calendar-table__current:nth-child(2) {
    max-width: 400px;
  }
}
body.timetable-page .calendar-table__content {
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  display: none;
}
@media only screen and (max-width: 1170px) {
  body.timetable-page .calendar-table__content {
    overflow-x: scroll;
    overflow-Y: hidden;
  }
}
body.timetable-page .calendar-table__content.active {
  display: flex;
}
body.timetable-page .calendar-table__content[data-view=D] {
  overflow-x: hidden;
  position: relative;
}
@media only screen and (max-width: 1170px) {
  body.timetable-page .calendar-table__content[data-view=D] {
    overflow-x: scroll;
    overflow-Y: hidden;
  }
}
body.timetable-page .calendar-table__row {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, 160px);
}
@media only screen and (max-width: 1170px) {
  body.timetable-page .calendar-table__row {
    width: 1140px;
    overflow: hidden;
  }
  body.timetable-page .calendar-table__row.open {
    overflow: visible;
  }
}
body.timetable-page .calendar-table__item {
  max-width: 160px;
  height: 160px;
  padding: 10px;
  border: 1px solid #e5e5e5;
  display: grid;
  align-items: start;
  justify-content: center;
  transition: background 0.3s linear;
}
body.timetable-page .calendar-table__item--next-mounth {
  background: #f8f8f8;
}
body.timetable-page .calendar-table__item--next-mounth .calendar-table__item-content {
  opacity: 0.5;
}
body.timetable-page .calendar-table__item.full {
  filter: drop-shadow(0 0 20px #d5d5d5);
  background-color: #f8fbf2;
  height: auto;
  z-index: 11;
}
body.timetable-page .calendar-table__item.full .events-list__hide-block {
  width: auto;
  height: auto;
  pointer-events: auto;
  z-index: 3;
  opacity: 1;
}
body.timetable-page .calendar-table__item.full .events-list__link-more {
  display: none;
}
body.timetable-page .calendar-table__item--title {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  border: none;
  height: 50px;
  font-size: 10px;
}
body.timetable-page .calendar-table__item-title {
  font-weight: 700;
  font-size: 12px;
  justify-self: center;
  margin-bottom: 5px;
}
body.timetable-page .calendar-table__item-content {
  min-width: 138px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
body.timetable-page .calendar-table__description-box {
  padding-top: 30px;
  padding-bottom: 10px;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  body.timetable-page .calendar-table__description-box {
    flex-direction: column;
    align-items: start;
  }
}
body.timetable-page .calendar-table__description-item {
  max-width: 220px;
  flex-shrink: 0;
  width: 100%;
  margin-right: 90px;
}
@media only screen and (max-width: 768px) {
  body.timetable-page .calendar-table__description-item {
    margin-right: 0px;
    margin-bottom: 5px;
  }
}
body.timetable-page .calendar-table__description-icon {
  margin-right: 20px;
}
@media only screen and (max-width: 768px) {
  body.timetable-page .calendar-table__description-icon {
    margin-right: 10px;
  }
}
body.timetable-page .events-list__item {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5px;
  position: relative;
}
body.timetable-page .events-list__time-block {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
body.timetable-page .events-list__item-time {
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 3px;
}
body.timetable-page .events-list__item-preview, body.timetable-page .events-list__detail-text {
  font-size: 13px;
  cursor: pointer;
  transition: all 0.3s linear;
}
body.timetable-page .events-list__item-preview:hover, body.timetable-page .events-list__detail-text:hover {
  text-decoration: underline;
  color: #81c212;
}
body.timetable-page .events-list__item-preview.hide, body.timetable-page .events-list__detail-text.hide {
  transform: scaleY(0);
  opacity: 0;
  z-index: -1;
  position: absolute;
  pointer-events: none;
}
body.timetable-page .events-list__detail-text {
  transform: scaleY(0);
  opacity: 0;
  z-index: -1;
  position: absolute;
  pointer-events: none;
}
body.timetable-page .events-list__detail-text.show {
  transform: scaleY(1);
  position: relative;
  z-index: 2;
  pointer-events: auto;
  opacity: 1;
}
body.timetable-page .events-list__hide-block {
  width: 0;
  height: 0;
  pointer-events: none;
  z-index: -1;
  opacity: 0;
  transition: height 0.3s linear;
}
body.timetable-page .events-list__link-more {
  width: 100%;
  cursor: pointer;
  transition: all 0.3s linear;
  margin-top: auto;
}
body.timetable-page .events-list__link-more img {
  max-width: 40px;
  margin: 0 auto;
}
body.timetable-page .events-list__link-more:hover {
  opacity: 0.7;
}
body.timetable-page .event-info {
  width: 400px;
  position: absolute;
  top: -30px;
  left: calc(100% + 10px);
  background: #fff;
  padding: 50px 20px 20px;
  filter: drop-shadow(0 0 20px #d5d5d5);
  z-index: -1;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s linear;
}
@media only screen and (max-width: 768px) {
  body.timetable-page .event-info {
    width: 300px;
    left: 0;
    top: 100%;
  }
}
@media only screen and (max-width: 360px) {
  body.timetable-page .event-info {
    width: 260px;
  }
}
body.timetable-page .event-info.open {
  z-index: 10;
  pointer-events: auto;
  opacity: 1;
}
body.timetable-page .event-info__close {
  width: 36px;
  height: 36px;
  cursor: pointer;
  display: block;
  font-size: 36px;
  font-weight: 200;
  position: absolute;
  right: 0;
  top: 10px;
  transform: rotate(45deg);
}
body.timetable-page .event-info__description {
  margin-bottom: 20px;
}
body.timetable-page .event-info__date {
  display: block;
  margin-bottom: 20px;
}
body.timetable-page .event-info__dop-info-item {
  margin-bottom: 20px;
}
body.timetable-page .event-info__dop-info-item:last-child {
  margin-bottom: 0;
}
body.timetable-page .event-info__dop-info-item span:nth-child(odd) {
  min-width: 130px;
  margin-right: 30px;
}
body.timetable-page .event-info--admin {
  padding-top: 20px;
}
body.timetable-page .event-info--admin .event-info__head {
  margin-bottom: 15px;
}
body.timetable-page .event-info--admin .event-info__code-text {
  display: block;
  margin-right: 20px;
  font-weight: 700;
}
body.timetable-page .weeks-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
body.timetable-page .weeks-table td:not(:first-child) {
  border: 1px solid #e5e5e5;
}
body.timetable-page .weeks-table--admin td {
  border: 1px solid #e5e5e5;
}
body.timetable-page .weeks-table--admin .weeks-table__head td {
  border: none;
}
body.timetable-page .weeks-table--admin .events-list__item {
  width: 100%;
}
body.timetable-page .weeks-table--admin .events-list__item-preview {
  width: 100%;
  justify-content: space-between;
}
body.timetable-page .weeks-table--admin .weeks-table__row th {
  border: 1px solid #e5e5e5;
}
body.timetable-page .weeks-table--admin .weeks-table__title {
  font-weight: 400;
  font-size: 13px;
  width: 120px;
  padding: 10px 5px;
}
body.timetable-page .weeks-table--admin .weeks-table__item {
  min-width: 130px;
}
body.timetable-page .weeks-table__title-wrap {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
body.timetable-page .weeks-table__day {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 10px;
}
body.timetable-page .weeks-table__number {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
body.timetable-page .weeks-table__row th {
  width: 90px;
}
body.timetable-page .weeks-table__title {
  font-size: 14px;
  text-align: center;
  padding: 15px 5px;
  display: block;
  transition: all 0.3s linear;
}
body.timetable-page .weeks-table__item {
  display: flex;
  min-width: 147px;
  padding: 10px;
  transition: all 0.5s linear;
}
body.timetable-page .weeks-table__item.full {
  box-shadow: 0 0 20px #d5d5d5;
  background-color: #f8fbf2;
}
body.timetable-page .day-table {
  width: 100%;
  overflow-x: scroll;
  position: relative;
  border-collapse: collapse;
  border-spacing: 0;
  transition: all 0.3s linear;
}
body.timetable-page .day-table__function-block {
  position: absolute;
  top: 50%;
  left: 0;
  height: 0px;
  width: 100%;
  transform: translateY(-50%);
  z-index: 22;
}
body.timetable-page .day-table__arrow-left, body.timetable-page .day-table__arrow-right {
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 0 10px #d5d5d5);
  z-index: 21;
  position: absolute;
  top: 50%;
  left: 5px;
  cursor: pointer;
  transition: all 0.3s linear;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}
@media only screen and (max-width: 1170px) {
  body.timetable-page .day-table__arrow-left, body.timetable-page .day-table__arrow-right {
    display: none;
  }
}
body.timetable-page .day-table__arrow-left.active, body.timetable-page .day-table__arrow-right.active {
  opacity: 1;
  z-index: 21;
  pointer-events: auto;
}
body.timetable-page .day-table__arrow-left svg, body.timetable-page .day-table__arrow-right svg {
  max-width: 15px;
  max-height: 15px;
}
body.timetable-page .day-table__arrow-left:hover, body.timetable-page .day-table__arrow-right:hover {
  opacity: 0.7;
}
body.timetable-page .day-table__arrow-left {
  transform: rotate(180deg);
}
body.timetable-page .day-table__arrow-right {
  left: auto;
  right: 5px;
}
body.timetable-page .day-table__current-day {
  text-align: center;
  text-transform: uppercase;
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 10px;
  margin-bottom: 10px;
}
body.timetable-page .day-table td:not(:first-child), body.timetable-page .day-table__row th {
  border: 1px solid #e5e5e5;
}
body.timetable-page .day-table td span {
  width: 100%;
}
body.timetable-page .day-table td span.icon-circle {
  width: 12px;
}
body.timetable-page .day-table__head th span {
  display: block;
  width: 135px;
}
body.timetable-page .day-table__item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 175px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s linear;
}
body.timetable-page .day-table__item:hover {
  filter: drop-shadow(0 0 20px #d5d5d5);
  background-color: #f8fbf2;
}
body.timetable-page .day-table__item-top {
  font-size: 13px;
  font-weight: 400;
}
body.timetable-page .day-table__item-text {
  max-width: 380px;
  margin-bottom: 15px;
  display: flex;
}
body.timetable-page .day-table__title-head {
  font-size: 14px;
  padding-bottom: 5px;
  position: relative;
}
body.timetable-page .day-table__title-head:after {
  content: "";
  position: absolute;
  left: -2px;
  bottom: -1px;
  height: 10px;
  width: 1px;
  background: #e5e5e5;
}
body.timetable-page .day-table__title-head:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1px;
  height: 5px;
  width: 1px;
  background: #e5e5e5;
}
body.timetable-page .day-table__title {
  font-weight: 400;
  display: block;
  padding: 8px;
  text-align: left;
  width: 190px;
  height: 175px;
}
body.timetable-page .no-events {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 430px;
}
body.timetable-page .no-events__current-day {
  text-transform: uppercase;
  text-align: center;
  align-self: start;
  font-weight: 400;
  width: 100%;
}
body.timetable-page .no-events__icon {
  width: 100%;
  display: flex;
  justify-content: center;
}
body.timetable-page .no-events__icon svg {
  width: 120px;
  height: 100px;
  fill: #272727;
}
body.timetable-page .no-events__title {
  width: 100%;
  text-align: center;
  font-size: 16px;
  align-self: start;
}
body.timetable-page .course-info {
  justify-content: flex-start;
  align-items: start;
  padding: 30px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 10px;
}
@media only screen and (max-width: 768px) {
  body.timetable-page .course-info {
    flex-direction: column;
  }
}
body.timetable-page .course-info__column:first-child {
  margin-right: 150px;
}
@media only screen and (max-width: 768px) {
  body.timetable-page .course-info__column:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
body.timetable-page .info-list__item {
  margin-bottom: 20px;
  max-width: 440px;
  width: 100%;
  align-items: start;
}
body.timetable-page .info-list__item:last-child {
  margin-bottom: 0;
}
body.timetable-page .info-list__item-title {
  min-width: 215px;
  margin-right: 30px;
}
@media only screen and (max-width: 600px) {
  body.timetable-page .info-list__item-title {
    min-width: 150px;
    max-width: 150px;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 425px) {
  body.timetable-page .info-list__item-title {
    min-width: 120px;
    max-width: 120px;
    font-size: 12px;
  }
}
body.timetable-page .info-list__item-text {
  display: block;
}
body.timetable-page .info-list__item-text:not(:first-child) {
  margin-top: 10px;
}
body.timetable-page .user-list__title-block {
  margin-bottom: 20px;
}
body.timetable-page .user-list__title-block:first-child {
  margin-bottom: 10px;
}
body.timetable-page .user-list__title {
  margin-right: 20px;
}
body.timetable-page .user-list__title-count {
  color: #81c212;
}
body.timetable-page .user-list__item {
  margin-bottom: 10px;
  display: block;
}
body.timetable-page .user-list__item--online {
  position: relative;
  width: fit-content;
  padding-right: 25px;
}
body.timetable-page .user-list__item--online::after {
  content: "online";
  font-size: 8px;
  color: #81c212;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0;
  top: 0;
}
body.timetable-page .user-list__hide-list {
  opacity: 0;
  transform-origin: 0 0;
  transform: scaleY(0);
  position: absolute;
  z-index: -1;
  transition: transform 0.3s linear;
}
body.timetable-page .user-list__hide-list.open {
  z-index: 1;
  position: relative;
  transform: scaleY(1);
  opacity: 1;
  transition: transform 0.3s linear;
}

/*# sourceMappingURL=main.css.map */
